.search { position: relative; }
.search input {
  text-indent: 30px;
}
.search input:focus {
  border-bottom: 1px solid #c62828;
  -webkit-box-shadow: 0 1px 0 0 #c62828;
  -moz-box-shadow: 0 1px 0 0 #c62828;
  box-shadow: 0 1px 0 0 #c62828;
}
.search .fa-search {
  position: absolute;
  top: 24px;
  left: 7px;
  font-size: 15px;
}
